@import "./../../../style/base";
.select {
  margin-bottom: 10px;
  .field {
    .label {
      line-height: 25px;
      font-size: 12px;
    }
    .input {
      border: 1px solid $divider-color;
      border-radius: 5px;
      background: $text-primary-color;
      position: relative;
      cursor: default;
      input {
        box-sizing: border-box;
        border: 0;
        padding: 5px;
        background: transparent;
        width: 100%;
        outline: none;
        height: 30px;
        cursor: default;
      }
      .list {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        line-height: 30px;
        box-shadow: 0 5px 10px $divider-color;
        border-radius: 3px;
        display: none;
        max-height:240px;
        overflow: auto;
        .item {
          padding: 0 15px 0 15px;
          white-space: nowrap;
          &:hover {
            background: rgba($divider-color-rgb, 0.2);
            color: $primary-text-color;
          }
          &.selected {
            background: $accent-color;
            color: $text-primary-color;
          }
        }
      }
      &.open {
        .list {
          display: block;
        }
      }
    }
    .desc {
      line-height: 18px;
      color: $secondary-text-color;
      font-size: 12px;
      padding: 0 2px 0 2px;
    }
    .error-msg {
      line-height: 18px;
      color: #9a2011;
      font-size: 12px;
      padding: 0 2px 0 2px;
    }
    &.error {
      .input {
        border: 1px solid #9a2011;
      }
    }
  }
}
