<div class="{{ data._error?'field error':'field' }}">
    {{if data.label}}
    <div class="label">{{ data.label }}</div>
    {{/if}}
    <div class="input">
        <select data-find="input">
            {{list data.options as option}}
                {{if option.value===data.value}}
                    <option value="{{ option.value }}" checked="true">{{ option.name }}</option>
                {{else}}
                    <option value="{{ option.value }}">{{ option.name }}</option>
                {{/if}}
            {{/list}}
        </select>
    </div>
    {{if data.description}}
    <div class="desc">{{ data.description }}</div>
    {{/if}}
    {{if data._error&&data._errorMsg}}
    <div class="error">{{ data._errorMsg }}</div>
    {{/if}}
</div>