<div class="{{ data._error?'field error'+(data.disabled?' disabled':''):'field'+(data.disabled?' disabled':'') }}">
    {{if data.label}}
    <div class="label">{{ data.label }}</div>
    {{/if}}
    <div class="{{ data._open?'input open':'input' }}">
        {{if data.disabled}}
        <input data-find="input" readonly='true' type="text" value="{{ data._current.name }}" placeholder="{{ data.placeholder }}"/>
        {{else}}
        <input data-find="input" readonly='true' onclick="{{ open() }}" type="text" value="{{ data._current.name }}" placeholder="{{ data.placeholder }}"/>
        {{/if}}
        {{if data._loading}}
        <div class="loading :fa-spin"><i class=":ada-dashboard-refresh"></i></div>
        {{/if}}
        {{if data.options.length>0}}
        <div class="list">
            {{list data.options as option}}
                <div class="{{ option.value===data._current.value?'selected item':'item' }}" onclick="{{ select(option) }}">{{ option.name }}</div>
            {{/list}}
        </div>
        {{/if}}
    </div>
    {{if data.description}}
    <div class="desc">{{ data.description }}</div>
    {{/if}}
    {{if data._error&&data._errorMsg}}
    <div class="error">{{ data._errorMsg }}</div>
    {{/if}}
</div>