@import "./../../style/base";
.compose-curdtree {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  // border: 1px solid $light-primary-color;
  .head {
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 10px 0 10px;
    .title {
      display: inline-block;
      vertical-align: top;
      padding: 0 10px 0 10px;
      font-size: 12px;
      position: relative;
      &:after {
        content: "";
        width: 0;
        display: block;
        border-right: 1px solid $light-primary-color;
        top: 14px;
        bottom: 14px;
        left: 100%;
        position: absolute;
      }
    }
    .btn {
      width: 35px;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
    }
  }
  .body {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 40px;
    z-index: 8;
    background: $text-primary-color;
    .content {
      position: absolute;
      left: 0;
      bottom: 35px;
      right: 0;
      top: 0;
      z-index: 1;
      // background: rgba($light-primary-color-rgb, 0.2);
    }
    .crumbs {
      line-height: 35px;
      padding: 0 10px 0 10px;
      // border-top: 1px solid $light-primary-color;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      // background: rgba($light-primary-color-rgb, 0.4);
      height: 35px;
      font-size: 12px;
      cursor: default;
      color: $secondary-text-color;
      white-space: nowrap;
      overflow: hidden;
      .crumb {
        display: inline-block;
        vertical-align: top;
        max-width: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .arrow {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .border-left {
    position: absolute;
    left: 10px;
    top: 50px;
    bottom: 20px;
    width: 20px;
    border-radius: 0 0 0 50%;
    box-shadow: 0 0 15px $divider-color;
    z-index: 1;
  }
  .border-right {
    position: absolute;
    right: 10px;
    top: 50px;
    bottom: 20px;
    width: 20px;
    border-radius: 0 0 50% 0;
    box-shadow: 0 0 15px $divider-color;
    z-index: 2;
  }
  .border-top {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    height: 20px;
    box-shadow: 0 0px 5px $divider-color;
    border-radius: 10%;
    z-index: 4;
  }
  .border-bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 20px;
    box-shadow: 0 0px 15px $divider-color;
    border-radius: 50%;
    z-index: 3;
  }
  .loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    z-index: 5;
    background: rgba($secondary-text-color-rgb, 0.1);
    .content {
      line-height: 40px;
      width: 40px;
      text-align: center;
      border-radius: 5px;
      background: $text-primary-color;
      box-shadow: 0 1px 5px $divider-color;
    }
  }
}
