@import "./../../../style/base";
.datepannel {
  cursor: default;
  width: 280px;
  position: relative;
  box-shadow: 0 0 10px $divider-color;
  background: $text-primary-color;
  .info {
    display: flex;
    line-height: 30px;
    border-bottom: 1px solid $light-primary-color;
    position: relative;
    .btn {
      width: 30px;
      text-align: center;
      font-size: 16px;
    }
    .btnin {
      width: 30px;
      text-align: center;
      font-size: 16px;
      position: absolute;
      top: 0;
      right: 30px;
    }
    .desc {
      flex-grow: 1;
      text-align: center;
      font-size: 12px;
    }
  }
  .header {
    line-height: 30px;
    white-space: nowrap;
    color: $divider-color;
    .cell {
      width: 40px;
      text-align: center;
      font-size: 12px;
      display: inline-block;
    }
  }
  .row {
    line-height: 30px;
    white-space: nowrap;
    .col {
      width: 40px;
      text-align: center;
      display: inline-block;
      font-size: 12px;
      .inner {
        width: 30px;
        height: 30px;
        display: inline-block;
        &:hover {
          background: $light-primary-color;
          border-radius: 50%;
        }
        &.current {
          background: $accent-color;
          color: $text-primary-color;
          border-radius: 50%;
        }
      }
      &.selectedstart {
        background: rgba($default-primary-color-rgb, 0.5);
        border-radius: 10px 0 0 10px;
        color: $text-primary-color;
        .inner {
          &:hover {
            background: transparent;
            border-radius: 0;
          }
          &.current {
            background: transparent;
            border-radius: 0;
          }
        }
      }
      &.selectedend {
        background: rgba($default-primary-color-rgb, 0.9);
        border-radius: 0 10px 10px 0;
        color: $text-primary-color;
        .inner {
          &:hover {
            background: transparent;
            border-radius: 0;
          }
          &.current {
            background: transparent;
            border-radius: 0;
          }
        }
      }
      &.selected {
        .inner {
          background: rgba($dark-primary-color-rgb, 0.9);
          color: $text-primary-color;
          border-radius: 50%;
          &:hover {
            background: rgba($default-primary-color-rgb, 1);
          }
          &.current {
            background: rgba($default-primary-color-rgb, 1);
          }
        }
        &.cselectedstart {
          background: rgba($dark-primary-color-rgb, 0.9);
          color: $text-primary-color;
          border-radius: 10px 0 0 10px;
          .inner {
            background: transparent;
          }
        }
        &.cselectedend {
          background: rgba($dark-primary-color-rgb, 0.9);
          color: $text-primary-color;
          border-radius: 0 10px 10px 0;
          .inner {
            background: transparent;
          }
        }
      }
      &.selectedin {
        background: $light-primary-color;
      }
    }
    .disablecol {
      width: 40px;
      text-align: center;
      display: inline-block;
      font-size: 12px;
      color: $divider-color;
    }
  }
  .pannel {
    display: none;
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    box-shadow: 0 5px 10px $divider-color;
    background: $text-primary-color;
    .top {
      line-height: 30px;
      display: flex;
      font-size: 12px;
      background: $text-primary-color;
      border-bottom: 1px solid $light-primary-color;
      color: $divider-color;
      .left {
        flex-grow: 1;
        text-align: center;
      }
      .right {
        width: 60px;
        text-align: center;
      }
    }
    .inner {
      display: flex;
      line-height: 30px;
      background: $text-primary-color;
      height: 180px;
      .left {
        flex-grow: 1;
        overflow: auto;
        border-right: 1px solid $light-primary-color;
      }
      .right {
        width: 60px;
      }
      .row {
        display: flex;
        .col {
          flex-grow: 1;
          text-align: center;
          .wrap {
            line-height: 20px;
            margin: 5px;
            &.current {
              color: $accent-color;
            }
          }
          &.selected {
            background: none;
            .wrap {
              border-radius: 5px;
              background: $accent-color;
              color: $text-primary-color;
            }
          }
        }
      }
    }
    .footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height:5px;
      background:$light-primary-color;
    }
  }
  &.showpannel {
    .pannel {
      display: block;
    }
  }
}
