@import "./../../../style/base";
.rangegroup {
    display: inline-block;
    white-space: nowrap;
    box-shadow: 0 0 10px $divider-color;
    background: $text-primary-color;
    .left {
        display: inline-block;
        vertical-align: top;
    }
    .right {
        display: inline-block;
        vertical-align: top;
    }
    .pannel{
        box-shadow: none;
    }
}