<div class="{{ data._open?'container open':'container' }}">
    <div class="left">
        <div class="head">
            <div class="image"></div>
            <div class="name">ada cloud</div>
        </div>
        <div class="body">
            <div class="title">Menu</div>
            <div class="menu">
                <menu @parameter="{{ {map:data._menuMap,list:data._menuList} }}"/>
            </div>
        </div>
        <div class="foot"></div>
    </div>
    <div class="right">
        <div class="head">
            <div class="menu" onclick="{{ toggleWin() }}"><i class=":ada-dashboard-menu"></i></div>
            {{if data._crumbs.length>0}}
            <div class="crumbs">
                {{list data._crumbs as item index}}
                <div class="crumb">{{ item.name }}</div>
                {{if index!==data._crumbs.length-1}}
                <div class="arrow"><i class=":ada-dashboard-keyboard_arrow_right"></i></div>
                {{/if}}
                {{/list}}
            </div>
            {{/if}}
        </div>
        <div class="body">
            {{if data._currentPageType}}
            <module @type="{{ data._currentPageType }}" @parameter="{{ data._currentPageOption }}"/>
            {{/if}}
        </div>
    </div>
</div>