@import "./../../../style/base";

.table-simple {
  display: grid;
  .row {
    line-height: 30px;
    white-space: nowrap;
    border-bottom: 1px solid $primary-base;
    background: $primary-light;
    .cols {
      border-right: 1px solid $primary-base;
      padding: 0 10px 0 10px;
      display: inline-block;
      vertical-align: top;
      &.checkbox {
        text-align: center;
        font-size: 15px;
        padding: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
    &:nth-child(even) {
      background: rgba($primary-base-rgb, 0.4);
    }
    &.checked {
      background: rgba($primary-base-rgb, 0.8);
    }
  }
}
