@import "./../../style/base";
.tree {
  font-size: 13px;
  cursor: default;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  overflow: auto;
  background: rgba($light-primary-color-rgb, 0.2);
  .block {
    .item {
      > .head {
        line-height: 25px;
        display: flex;
        > .arrow {
          width: 25px;
          height: 25px;
          text-align: center;
          font-size: 16px;
          color:$primary-text-color;
        }
        > .noarrow {
          width: 25px;
          height: 25px;
        }
        > .checkbox {
          width: 25px;
          height: 25px;
          text-align: center;
          font-size: 16px;
          margin-left: -3px;
          color:$secondary-text-color;
        }
        > .name {
          padding: 0 5px 0 0;
          flex: 1;
        }
        &.active {
          > .name {
            color:$accent-color;
          }
        }
      }
      > .body {
        margin-left: 20px;
        display: none;
      }
      &.opened {
        > .head {
          > .arrow {
            transform: rotate(90deg);
          }
        }
        > .body {
          display: block;
        }
      }
    }
  }
}
