@import "./../../../style/base";
.table-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .head {
    border-bottom: 1px solid $light-primary-color;
    background: $text-primary-color;
    position: relative;
    z-index: 2;
    .cols {
      text-align: center;
      border-right: 1px solid $light-primary-color;
      font-size: 16px;
      color: $divider-color;
      &.checked {
        color: $primary-text-color;
      }
    }
  }
  .list {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    .cols {
      font-size: 16px;
      border-right: 1px solid $light-primary-color;
      border-bottom: 1px solid $light-primary-color;
      text-align: center;
      color: $divider-color;
      // &:nth-child(even) {
      //   background: rgba($light-primary-color-rgb, 0.2);
      // }
      &:nth-child(odd) {
        background: $text-primary-color;
      }
      &.checked {
        background: rgba($light-primary-color-rgb, 0.5);
        color: $primary-text-color;
      }
    }
  }
}
