@import "./../../../style/base";

.table-head {
  line-height: 35px;
  border-bottom: 1px solid $primary-base;
  white-space: nowrap;
  float: left;

  .cols {
    border-right: 1px solid $primary-base;
    padding: 0 10px 0 10px;
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    text-align: center;
    background: $primary-light;
    &.checkbox {
      font-size: 15px;
      text-align: center;
      padding: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
}
