@import "./../../style/base";
.main-tabpage {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .tabs {
    line-height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid rgba($divider-color-rgb,.5);
    padding: 0 10px 0 10px;
    font-size: 12px;
    cursor: default;
    .tab {
      display: inline-block;
      vertical-align: top;
      padding: 0 20px 0 20px;
      border-bottom: 2px solid transparent;
      margin-bottom: -1px;
      color:$secondary-text-color;
      &.active {
        border-bottom: 2px solid $accent-color;
        color:$primary-text-color;
        font-weight: 500;
      }
    }
  }
  .contents {
    position: absolute;
    left: 0;
    top: 31px;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: $text-primary-color;
    .content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: none;
      &.active{
        display: block;
      }
    }
  }
}
