<div class="head">
    <div class="cols" style="width:{{ data.rowHeight }}px;line-height:{{ data.titleHeight }}px;" onclick="{{ checkAll() }}">
        {{if data.isCheckAll}}
        <i class=":ada-dashboard-check_box"></i>
        {{else}}
        <i class=":ada-dashboard-check_box_outline_blank"></i>
        {{/if}}
    </div>
</div>
<div class="list" style="top:{{ data.titleHeight }}px" data-find="body">
    {{list data.checks as check}}
    <div class="cols" style="width:{{ data.rowHeight }}px;line-height:{{ data.rowHeight }}px;">
        {{if check}}
        <i class=":ada-dashboard-check_box"></i>
        {{else}}
        <i class=":ada-dashboard-check_box_outline_blank"></i>
        {{/if}}
    </div>
    {{/list}}
</div>