@import "./../../../style/base";

.table-simple {
  display: grid;
  .row {
    line-height: 30px;
    white-space: nowrap;
    border-bottom: 1px solid $c100;
    .cols {
      border-right: 1px solid $c100;
      padding: 0 10px 0 10px;
      display: inline-block;
      vertical-align: top;
      &.checkbox {
        text-align: center;
        font-size: 15px;
        padding: 0;
      }
    }
    &:nth-child(even) {
      background: $base;
    }
  }
}
