@import "./../../../style/base";

.table-tool {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .head {
    border-bottom: 1px solid $light-primary-color;
    background: $text-primary-color;
    text-align: center;
    position: relative;
    z-index: 2;
    &.right {
      border-left: 1px solid $light-primary-color;
    }
    &.left {
      border-right: 1px solid $light-primary-color;
    }
  }
  .list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .row {
      line-height: 30px;
      white-space: nowrap;
      border-bottom: 1px solid $light-primary-color;
      .cols {
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        color: $secondary-text-color;
        border-right: 1px solid $light-primary-color;
        transition: all ease-in-out 0.3s;
        &:last-child {
          border-right: 0;
        }
        &:hover {
          color: $primary-text-color;
        }
      }
      // &:nth-child(even) {
      //   background: rgba($light-primary-color-rgb, 0.2);
      // }
      &:nth-child(odd) {
        background: $text-primary-color;
      }
      &.checked {
        background: rgba($light-primary-color-rgb, 0.5);
      }
    }
    &.right {
      .row {
        border-left: 1px solid $light-primary-color;
      }
    }
    &.left {
      .row {
        border-right: 1px solid $light-primary-color;
      }
    }
  }
}
