@import "./../../style/base";
.compose-fliptable {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 36px;
    box-sizing: border-box;
    border-bottom: 1px solid $light-primary-color;
    background: rgba($light-primary-color-rgb, 0.2);
    z-index: 1;
  }
  .foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    cursor: default;
    box-sizing: border-box;
    line-height: 36px;
    z-index: 2;
    // border-right: 1px solid $light-primary-color;
    // border-top: 0;
    .btn,
    .dot {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      div {
        line-height: 24px;
        text-align: center;
        border-radius: 50%;
        width: 24px;
        text-align: center;
        margin:6px;
      }
      &.disabled {
        color: $light-primary-color;
      }
      &.current {
        color: $primary-text-color;
        div {
          background: $accent-color;
          color: $text-primary-color;
        }
      }
    }
    .dot {
      &.hide {
        display: none;
      }
    }
  }
}
