{{list getItems(data.list,data.map) as item}}
<div class="{{ item._open?'item open':'item' }}">
    <div class="menu" onclick="{{ active(item) }}">
        <div class="icon"><i class="{{ ':'+item.icon }}"></i></div>
        <div class="name">{{ item.name }}</div>
        {{if item.list&&item.list.length>0}}
        <div class="arrow"><i class=":ada-dashboard-keyboard_arrow_down"></i></div>
        {{/if}}
    </div>
    {{if item.list&&item.list.length>0}}
        <div class="sub">
        {{list getItems(item.list,data.map) as list}}
            <div class="{{ list._active?'subitem active':'subitem' }}" onclick="{{ activesub(list,item) }}">{{ list.name }}</div>
        {{/list}}
        </div>
    {{/if}}
</div>
{{/list}}