@import "./../base/index";
.table {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .tools {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid $base;
    &.left {
      left: 0;
      right: auto;
      border-right:1px solid $base;
      border-left:0;
    }
  }
}
