@import "./../style/base";
.table {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .head {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      overflow: hidden;
    }
    .body {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
    }
  }
  .checkbox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
  }
  .tools {
    position: absolute;
    top: 0;
    bottom: 0;
    &.left {
      left: auto;
      right: 0;
      border-left: 0;
    }
  }
}
