{{if data.checkbox}}
<div class="checkbox" style="width:{{ data.rowHeight }}px" data-find="checkbox">
    <@module @type="{{ data.checkboxType }}" @parameter="{{ 
        {
            checks:data.checks,
            rowHeight:data.rowHeight,
            titleHeight:data.titleHeight,
            isCheckAll:data.isCheckAll
        } 
    }}"/>
</div>
{{/if}}
<div class="content" style="{{ data.bodyPosition }}">
    <div class="head" data-find="head" style="height: {{ data.titleHeight }}px">
        <@module @type="{{ data.headType }}" @parameter="{{ 
            {
                list:data.head,
                rowHeight:data.rowHeight,
                titleHeight:data.titleHeight,
                isCheckAll:data.isCheckAll
            } 
        }}"/>
    </div>
    <div class="body" style="top:{{ data.titleHeight }}px" data-find="body">
        <@module @type="{{ data.bodyType }}" @parameter="{{ 
            {
                list:data.body,
                rowHeight:data.rowHeight,
                titleHeight:data.titleHeight,
                checks:data.checks
            } 
        }}"/>
    </div>
</div>
{{if data.tools.length>0}}
<div class="{{ data.toolPosition==='left'?'tools left':'tools' }}" style="width:{{ data.tools.length*data.rowHeight }}px" data-find="tool">
    <@module class="tool" @type="{{ data.toolType }}" @parameter="{{ 
        {
            list:data.tool,
            height:data.titleHeight,
            position:data.toolPosition
        } 
    }}"/>
</div>
{{/if}}