$dark-primary-color: var(--dark-primary-color);
$default-primary-color: var(--default-primary-color);
$light-primary-color: var(--light-primary-color);
$text-primary-color: var(--text-primary-color);
$accent-color: var(--accent-color);
$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);
$divider-color: var(--divider-color);

$dark-primary-color-rgb: var(--dark-primary-rgb-color);
$default-primary-color-rgb: var(--default-primary-rgb-color);
$light-primary-color-rgb: var(--light-primary-rgb-color);
$text-primary-color-rgb: var(--text-primary-rgb-color);
$accent-color-rgb: var(--accent-rgb-color);
$primary-text-color-rgb: var(--primary-text-rgb-color);
$secondary-text-color-rgb: var(--secondary-text-rgb-color);
$divider-color-rgb: var(--divider-rgb-color);
