$primary-base: var(--primary-base);
$primary-light: var(--primary-light);
$primary-dark: var(--primary-dark);
$secondary-base: var(--secondary-base);
$secondary-light: var(--secondary-light);
$secondary-dark: var(--secondary-dark);

$primary-base-rgb: var(--primary-base-rgb);
$primary-light-rgb: var(--primary-light-rgb);
$primary-dark-rgb: var(--primary-dark-rgb);
$secondary-base-rgb: var(--secondary-base-rgb);
$secondary-light-rgb: var(--secondary-light-rgb);
$secondary-dark-rgb: var(--secondary-dark-rgb);
