:root {
  --primary-base: #eeeeee;
  --primary-light: #ffffff;
  --primary-dark: #bcbcbc;
  --secondary-base: #546e7a;
  --secondary-light: #819ca9;
  --secondary-dark: #29434e;
  --primary-base-rgb: 238, 238, 238;
  --primary-light-rgb: 255, 255, 255;
  --primary-dark-rgb: 188, 188, 188;
  --secondary-base-rbg: 84, 110, 122;
  --secondary-light-rgb: 129, 156, 169;
  --secondary-dark-rgb: 41, 67, 78;
}

html {
  font: 400 14px / 1 "-apple-system", "BlinkMacSystemFont", "PingFang SC",
    "Helvetica Neue", "STHeiti", "Microsoft Yahei", "Tahoma", "Simsun",
    "sans-serif";
}
html,
body {
  margin: 0;
  padding: 0;
}
