@font-face {
  font-family: 'ada-dashboard';
  src:
    url('fonts/ada-dashboard.ttf?sp61ra') format('truetype'),
    url('fonts/ada-dashboard.woff?sp61ra') format('woff'),
    url('fonts/ada-dashboard.svg?sp61ra#ada-dashboard') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ada-dashboard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ada-dashboard-ac_unit:before {
  content: "\eb3b";
}
.ada-dashboard-alarm:before {
  content: "\e855";
}
.ada-dashboard-access_alarms:before {
  content: "\e191";
}
.ada-dashboard-schedule:before {
  content: "\e8b5";
}
.ada-dashboard-accessibility:before {
  content: "\e84e";
}
.ada-dashboard-accessible:before {
  content: "\e914";
}
.ada-dashboard-account_balance:before {
  content: "\e84f";
}
.ada-dashboard-account_balance_wallet:before {
  content: "\e850";
}
.ada-dashboard-account_box:before {
  content: "\e851";
}
.ada-dashboard-account_circle:before {
  content: "\e853";
}
.ada-dashboard-add:before {
  content: "\e145";
}
.ada-dashboard-add_a_photo:before {
  content: "\e439";
}
.ada-dashboard-alarm_add:before {
  content: "\e856";
}
.ada-dashboard-add_box:before {
  content: "\e146";
}
.ada-dashboard-add_circle:before {
  content: "\e147";
}
.ada-dashboard-control_point:before {
  content: "\e3ba";
}
.ada-dashboard-add_location:before {
  content: "\e567";
}
.ada-dashboard-add_shopping_cart:before {
  content: "\e854";
}
.ada-dashboard-queue:before {
  content: "\e03c";
}
.ada-dashboard-add_to_queue:before {
  content: "\e05c";
}
.ada-dashboard-adjust:before {
  content: "\e39e";
}
.ada-dashboard-flight:before {
  content: "\e539";
}
.ada-dashboard-airplanemode_inactive:before {
  content: "\e194";
}
.ada-dashboard-airplay:before {
  content: "\e055";
}
.ada-dashboard-airport_shuttle:before {
  content: "\eb3c";
}
.ada-dashboard-alarm_off:before {
  content: "\e857";
}
.ada-dashboard-alarm_on:before {
  content: "\e858";
}
.ada-dashboard-album:before {
  content: "\e019";
}
.ada-dashboard-all_inclusive:before {
  content: "\eb3d";
}
.ada-dashboard-all_out:before {
  content: "\e90b";
}
.ada-dashboard-android:before {
  content: "\e859";
}
.ada-dashboard-announcement:before {
  content: "\e85a";
}
.ada-dashboard-apps:before {
  content: "\e5c3";
}
.ada-dashboard-archive:before {
  content: "\e149";
}
.ada-dashboard-arrow_back:before {
  content: "\e5c4";
}
.ada-dashboard-arrow_downward:before {
  content: "\e5db";
}
.ada-dashboard-arrow_drop_down:before {
  content: "\e5c5";
}
.ada-dashboard-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.ada-dashboard-arrow_drop_up:before {
  content: "\e5c7";
}
.ada-dashboard-arrow_forward:before {
  content: "\e5c8";
}
.ada-dashboard-arrow_upward:before {
  content: "\e5d8";
}
.ada-dashboard-art_track:before {
  content: "\e060";
}
.ada-dashboard-aspect_ratio:before {
  content: "\e85b";
}
.ada-dashboard-poll:before {
  content: "\e801";
}
.ada-dashboard-assignment:before {
  content: "\e85d";
}
.ada-dashboard-assignment_ind:before {
  content: "\e85e";
}
.ada-dashboard-assignment_late:before {
  content: "\e85f";
}
.ada-dashboard-assignment_return:before {
  content: "\e860";
}
.ada-dashboard-assignment_returned:before {
  content: "\e861";
}
.ada-dashboard-assignment_turned_in:before {
  content: "\e862";
}
.ada-dashboard-assistant:before {
  content: "\e39f";
}
.ada-dashboard-flag:before {
  content: "\e153";
}
.ada-dashboard-attach_file:before {
  content: "\e226";
}
.ada-dashboard-attach_money:before {
  content: "\e227";
}
.ada-dashboard-attachment:before {
  content: "\e2bc";
}
.ada-dashboard-audiotrack:before {
  content: "\e3a1";
}
.ada-dashboard-autorenew:before {
  content: "\e863";
}
.ada-dashboard-av_timer:before {
  content: "\e01b";
}
.ada-dashboard-backspace:before {
  content: "\e14a";
}
.ada-dashboard-cloud_upload:before {
  content: "\e2c3";
}
.ada-dashboard-battery_alert:before {
  content: "\e19c";
}
.ada-dashboard-battery_charging_full:before {
  content: "\e1a3";
}
.ada-dashboard-battery_std:before {
  content: "\e1a5";
}
.ada-dashboard-battery_unknown:before {
  content: "\e1a6";
}
.ada-dashboard-beach_access:before {
  content: "\eb3e";
}
.ada-dashboard-beenhere:before {
  content: "\e52d";
}
.ada-dashboard-block:before {
  content: "\e14b";
}
.ada-dashboard-class:before {
  content: "\e86e";
}
.ada-dashboard-turned_in:before {
  content: "\e8e6";
}
.ada-dashboard-turned_in_not:before {
  content: "\e8e7";
}
.ada-dashboard-border_all:before {
  content: "\e228";
}
.ada-dashboard-border_bottom:before {
  content: "\e229";
}
.ada-dashboard-border_clear:before {
  content: "\e22a";
}
.ada-dashboard-border_color:before {
  content: "\e22b";
}
.ada-dashboard-border_horizontal:before {
  content: "\e22c";
}
.ada-dashboard-border_inner:before {
  content: "\e22d";
}
.ada-dashboard-border_left:before {
  content: "\e22e";
}
.ada-dashboard-border_outer:before {
  content: "\e22f";
}
.ada-dashboard-border_right:before {
  content: "\e230";
}
.ada-dashboard-border_style:before {
  content: "\e231";
}
.ada-dashboard-border_top:before {
  content: "\e232";
}
.ada-dashboard-border_vertical:before {
  content: "\e233";
}
.ada-dashboard-branding_watermark:before {
  content: "\e06b";
}
.ada-dashboard-brightness_1:before {
  content: "\e3a6";
}
.ada-dashboard-brightness_2:before {
  content: "\e3a7";
}
.ada-dashboard-brightness_3:before {
  content: "\e3a8";
}
.ada-dashboard-brightness_4:before {
  content: "\e3a9";
}
.ada-dashboard-brightness_low:before {
  content: "\e1ad";
}
.ada-dashboard-brightness_medium:before {
  content: "\e1ae";
}
.ada-dashboard-brightness_high:before {
  content: "\e1ac";
}
.ada-dashboard-brightness_auto:before {
  content: "\e1ab";
}
.ada-dashboard-broken_image:before {
  content: "\e3ad";
}
.ada-dashboard-brush:before {
  content: "\e3ae";
}
.ada-dashboard-bubble_chart:before {
  content: "\e6dd";
}
.ada-dashboard-bug_report:before {
  content: "\e868";
}
.ada-dashboard-build:before {
  content: "\e869";
}
.ada-dashboard-burst_mode:before {
  content: "\e43c";
}
.ada-dashboard-domain:before {
  content: "\e7ee";
}
.ada-dashboard-business_center:before {
  content: "\eb3f";
}
.ada-dashboard-cached:before {
  content: "\e86a";
}
.ada-dashboard-cake:before {
  content: "\e7e9";
}
.ada-dashboard-phone:before {
  content: "\e0cd";
}
.ada-dashboard-call_end:before {
  content: "\e0b1";
}
.ada-dashboard-call_made:before {
  content: "\e0b2";
}
.ada-dashboard-merge_type:before {
  content: "\e252";
}
.ada-dashboard-call_missed:before {
  content: "\e0b4";
}
.ada-dashboard-call_missed_outgoing:before {
  content: "\e0e4";
}
.ada-dashboard-call_received:before {
  content: "\e0b5";
}
.ada-dashboard-call_split:before {
  content: "\e0b6";
}
.ada-dashboard-call_to_action:before {
  content: "\e06c";
}
.ada-dashboard-camera:before {
  content: "\e3af";
}
.ada-dashboard-photo_camera:before {
  content: "\e412";
}
.ada-dashboard-camera_enhance:before {
  content: "\e8fc";
}
.ada-dashboard-camera_front:before {
  content: "\e3b1";
}
.ada-dashboard-camera_rear:before {
  content: "\e3b2";
}
.ada-dashboard-camera_roll:before {
  content: "\e3b3";
}
.ada-dashboard-cancel:before {
  content: "\e5c9";
}
.ada-dashboard-redeem:before {
  content: "\e8b1";
}
.ada-dashboard-card_membership:before {
  content: "\e8f7";
}
.ada-dashboard-card_travel:before {
  content: "\e8f8";
}
.ada-dashboard-casino:before {
  content: "\eb40";
}
.ada-dashboard-cast:before {
  content: "\e307";
}
.ada-dashboard-cast_connected:before {
  content: "\e308";
}
.ada-dashboard-center_focus_strong:before {
  content: "\e3b4";
}
.ada-dashboard-center_focus_weak:before {
  content: "\e3b5";
}
.ada-dashboard-change_history:before {
  content: "\e86b";
}
.ada-dashboard-chat:before {
  content: "\e0b7";
}
.ada-dashboard-chat_bubble:before {
  content: "\e0ca";
}
.ada-dashboard-chat_bubble_outline:before {
  content: "\e0cb";
}
.ada-dashboard-check:before {
  content: "\e5ca";
}
.ada-dashboard-check_box:before {
  content: "\e834";
}
.ada-dashboard-check_box_outline_blank:before {
  content: "\e835";
}
.ada-dashboard-check_circle:before {
  content: "\e86c";
}
.ada-dashboard-navigate_before:before {
  content: "\e408";
}
.ada-dashboard-navigate_next:before {
  content: "\e409";
}
.ada-dashboard-child_care:before {
  content: "\eb41";
}
.ada-dashboard-child_friendly:before {
  content: "\eb42";
}
.ada-dashboard-chrome_reader_mode:before {
  content: "\e86d";
}
.ada-dashboard-close:before {
  content: "\e5cd";
}
.ada-dashboard-clear_all:before {
  content: "\e0b8";
}
.ada-dashboard-closed_caption:before {
  content: "\e01c";
}
.ada-dashboard-wb_cloudy:before {
  content: "\e42d";
}
.ada-dashboard-cloud_circle:before {
  content: "\e2be";
}
.ada-dashboard-cloud_done:before {
  content: "\e2bf";
}
.ada-dashboard-cloud_download:before {
  content: "\e2c0";
}
.ada-dashboard-cloud_off:before {
  content: "\e2c1";
}
.ada-dashboard-cloud_queue:before {
  content: "\e2c2";
}
.ada-dashboard-code:before {
  content: "\e86f";
}
.ada-dashboard-photo_library:before {
  content: "\e413";
}
.ada-dashboard-collections_bookmark:before {
  content: "\e431";
}
.ada-dashboard-palette:before {
  content: "\e40a";
}
.ada-dashboard-colorize:before {
  content: "\e3b8";
}
.ada-dashboard-comment:before {
  content: "\e0b9";
}
.ada-dashboard-compare:before {
  content: "\e3b9";
}
.ada-dashboard-compare_arrows:before {
  content: "\e915";
}
.ada-dashboard-laptop:before {
  content: "\e31e";
}
.ada-dashboard-confirmation_number:before {
  content: "\e638";
}
.ada-dashboard-contact_mail:before {
  content: "\e0d0";
}
.ada-dashboard-contact_phone:before {
  content: "\e0cf";
}
.ada-dashboard-contacts:before {
  content: "\e0ba";
}
.ada-dashboard-content_copy:before {
  content: "\e14d";
}
.ada-dashboard-content_cut:before {
  content: "\e14e";
}
.ada-dashboard-content_paste:before {
  content: "\e14f";
}
.ada-dashboard-control_point_duplicate:before {
  content: "\e3bb";
}
.ada-dashboard-copyright:before {
  content: "\e90c";
}
.ada-dashboard-mode_edit:before {
  content: "\e254";
}
.ada-dashboard-create_new_folder:before {
  content: "\e2cc";
}
.ada-dashboard-payment:before {
  content: "\e8a1";
}
.ada-dashboard-crop:before {
  content: "\e3be";
}
.ada-dashboard-crop_16_9:before {
  content: "\e3bc";
}
.ada-dashboard-crop_3_2:before {
  content: "\e3bd";
}
.ada-dashboard-crop_landscape:before {
  content: "\e3c3";
}
.ada-dashboard-crop_7_5:before {
  content: "\e3c0";
}
.ada-dashboard-crop_din:before {
  content: "\e3c1";
}
.ada-dashboard-crop_free:before {
  content: "\e3c2";
}
.ada-dashboard-crop_original:before {
  content: "\e3c4";
}
.ada-dashboard-crop_portrait:before {
  content: "\e3c5";
}
.ada-dashboard-crop_rotate:before {
  content: "\e437";
}
.ada-dashboard-crop_square:before {
  content: "\e3c6";
}
.ada-dashboard-dashboard:before {
  content: "\e871";
}
.ada-dashboard-data_usage:before {
  content: "\e1af";
}
.ada-dashboard-date_range:before {
  content: "\e916";
}
.ada-dashboard-dehaze:before {
  content: "\e3c7";
}
.ada-dashboard-delete:before {
  content: "\e872";
}
.ada-dashboard-delete_forever:before {
  content: "\e92b";
}
.ada-dashboard-delete_sweep:before {
  content: "\e16c";
}
.ada-dashboard-description:before {
  content: "\e873";
}
.ada-dashboard-desktop_mac:before {
  content: "\e30b";
}
.ada-dashboard-desktop_windows:before {
  content: "\e30c";
}
.ada-dashboard-details:before {
  content: "\e3c8";
}
.ada-dashboard-developer_board:before {
  content: "\e30d";
}
.ada-dashboard-developer_mode:before {
  content: "\e1b0";
}
.ada-dashboard-device_hub:before {
  content: "\e335";
}
.ada-dashboard-phonelink:before {
  content: "\e326";
}
.ada-dashboard-devices_other:before {
  content: "\e337";
}
.ada-dashboard-dialer_sip:before {
  content: "\e0bb";
}
.ada-dashboard-dialpad:before {
  content: "\e0bc";
}
.ada-dashboard-directions:before {
  content: "\e52e";
}
.ada-dashboard-directions_bike:before {
  content: "\e52f";
}
.ada-dashboard-directions_boat:before {
  content: "\e532";
}
.ada-dashboard-directions_bus:before {
  content: "\e530";
}
.ada-dashboard-directions_car:before {
  content: "\e531";
}
.ada-dashboard-directions_railway:before {
  content: "\e534";
}
.ada-dashboard-directions_run:before {
  content: "\e566";
}
.ada-dashboard-directions_transit:before {
  content: "\e535";
}
.ada-dashboard-directions_walk:before {
  content: "\e536";
}
.ada-dashboard-disc_full:before {
  content: "\e610";
}
.ada-dashboard-dns:before {
  content: "\e875";
}
.ada-dashboard-not_interested:before {
  content: "\e033";
}
.ada-dashboard-do_not_disturb_alt:before {
  content: "\e611";
}
.ada-dashboard-do_not_disturb_off:before {
  content: "\e643";
}
.ada-dashboard-remove_circle:before {
  content: "\e15c";
}
.ada-dashboard-dock:before {
  content: "\e30e";
}
.ada-dashboard-done:before {
  content: "\e876";
}
.ada-dashboard-done_all:before {
  content: "\e877";
}
.ada-dashboard-donut_large:before {
  content: "\e917";
}
.ada-dashboard-donut_small:before {
  content: "\e918";
}
.ada-dashboard-drafts:before {
  content: "\e151";
}
.ada-dashboard-drag_handle:before {
  content: "\e25d";
}
.ada-dashboard-time_to_leave:before {
  content: "\e62c";
}
.ada-dashboard-dvr:before {
  content: "\e1b2";
}
.ada-dashboard-edit_location:before {
  content: "\e568";
}
.ada-dashboard-eject:before {
  content: "\e8fb";
}
.ada-dashboard-markunread:before {
  content: "\e159";
}
.ada-dashboard-enhanced_encryption:before {
  content: "\e63f";
}
.ada-dashboard-equalizer:before {
  content: "\e01d";
}
.ada-dashboard-error:before {
  content: "\e000";
}
.ada-dashboard-error_outline:before {
  content: "\e001";
}
.ada-dashboard-euro_symbol:before {
  content: "\e926";
}
.ada-dashboard-ev_station:before {
  content: "\e56d";
}
.ada-dashboard-insert_invitation:before {
  content: "\e24f";
}
.ada-dashboard-event_available:before {
  content: "\e614";
}
.ada-dashboard-event_busy:before {
  content: "\e615";
}
.ada-dashboard-event_note:before {
  content: "\e616";
}
.ada-dashboard-event_seat:before {
  content: "\e903";
}
.ada-dashboard-exit_to_app:before {
  content: "\e879";
}
.ada-dashboard-expand_less:before {
  content: "\e5ce";
}
.ada-dashboard-expand_more:before {
  content: "\e5cf";
}
.ada-dashboard-explicit:before {
  content: "\e01e";
}
.ada-dashboard-explore:before {
  content: "\e87a";
}
.ada-dashboard-exposure:before {
  content: "\e3ca";
}
.ada-dashboard-exposure_neg_1:before {
  content: "\e3cb";
}
.ada-dashboard-exposure_neg_2:before {
  content: "\e3cc";
}
.ada-dashboard-exposure_plus_1:before {
  content: "\e3cd";
}
.ada-dashboard-exposure_plus_2:before {
  content: "\e3ce";
}
.ada-dashboard-exposure_zero:before {
  content: "\e3cf";
}
.ada-dashboard-extension:before {
  content: "\e87b";
}
.ada-dashboard-face:before {
  content: "\e87c";
}
.ada-dashboard-fast_forward:before {
  content: "\e01f";
}
.ada-dashboard-fast_rewind:before {
  content: "\e020";
}
.ada-dashboard-favorite:before {
  content: "\e87d";
}
.ada-dashboard-favorite_border:before {
  content: "\e87e";
}
.ada-dashboard-featured_play_list:before {
  content: "\e06d";
}
.ada-dashboard-featured_video:before {
  content: "\e06e";
}
.ada-dashboard-sms_failed:before {
  content: "\e626";
}
.ada-dashboard-fiber_dvr:before {
  content: "\e05d";
}
.ada-dashboard-fiber_manual_record:before {
  content: "\e061";
}
.ada-dashboard-fiber_new:before {
  content: "\e05e";
}
.ada-dashboard-fiber_pin:before {
  content: "\e06a";
}
.ada-dashboard-fiber_smart_record:before {
  content: "\e062";
}
.ada-dashboard-get_app:before {
  content: "\e884";
}
.ada-dashboard-file_upload:before {
  content: "\e2c6";
}
.ada-dashboard-filter:before {
  content: "\e3d3";
}
.ada-dashboard-filter_1:before {
  content: "\e3d0";
}
.ada-dashboard-filter_2:before {
  content: "\e3d1";
}
.ada-dashboard-filter_3:before {
  content: "\e3d2";
}
.ada-dashboard-filter_4:before {
  content: "\e3d4";
}
.ada-dashboard-filter_5:before {
  content: "\e3d5";
}
.ada-dashboard-filter_6:before {
  content: "\e3d6";
}
.ada-dashboard-filter_7:before {
  content: "\e3d7";
}
.ada-dashboard-filter_8:before {
  content: "\e3d8";
}
.ada-dashboard-filter_9:before {
  content: "\e3d9";
}
.ada-dashboard-filter_9_plus:before {
  content: "\e3da";
}
.ada-dashboard-filter_b_and_w:before {
  content: "\e3db";
}
.ada-dashboard-filter_center_focus:before {
  content: "\e3dc";
}
.ada-dashboard-filter_drama:before {
  content: "\e3dd";
}
.ada-dashboard-filter_frames:before {
  content: "\e3de";
}
.ada-dashboard-terrain:before {
  content: "\e564";
}
.ada-dashboard-filter_list:before {
  content: "\e152";
}
.ada-dashboard-filter_none:before {
  content: "\e3e0";
}
.ada-dashboard-filter_tilt_shift:before {
  content: "\e3e2";
}
.ada-dashboard-filter_vintage:before {
  content: "\e3e3";
}
.ada-dashboard-find_in_page:before {
  content: "\e880";
}
.ada-dashboard-find_replace:before {
  content: "\e881";
}
.ada-dashboard-fingerprint:before {
  content: "\e90d";
}
.ada-dashboard-first_page:before {
  content: "\e5dc";
}
.ada-dashboard-fitness_center:before {
  content: "\eb43";
}
.ada-dashboard-flare:before {
  content: "\e3e4";
}
.ada-dashboard-flash_auto:before {
  content: "\e3e5";
}
.ada-dashboard-flash_off:before {
  content: "\e3e6";
}
.ada-dashboard-flash_on:before {
  content: "\e3e7";
}
.ada-dashboard-flight_land:before {
  content: "\e904";
}
.ada-dashboard-flight_takeoff:before {
  content: "\e905";
}
.ada-dashboard-flip:before {
  content: "\e3e8";
}
.ada-dashboard-flip_to_back:before {
  content: "\e882";
}
.ada-dashboard-flip_to_front:before {
  content: "\e883";
}
.ada-dashboard-folder:before {
  content: "\e2c7";
}
.ada-dashboard-folder_open:before {
  content: "\e2c8";
}
.ada-dashboard-folder_shared:before {
  content: "\e2c9";
}
.ada-dashboard-folder_special:before {
  content: "\e617";
}
.ada-dashboard-font_download:before {
  content: "\e167";
}
.ada-dashboard-format_align_center:before {
  content: "\e234";
}
.ada-dashboard-format_align_justify:before {
  content: "\e235";
}
.ada-dashboard-format_align_left:before {
  content: "\e236";
}
.ada-dashboard-format_align_right:before {
  content: "\e237";
}
.ada-dashboard-format_bold:before {
  content: "\e238";
}
.ada-dashboard-format_clear:before {
  content: "\e239";
}
.ada-dashboard-format_color_fill:before {
  content: "\e23a";
}
.ada-dashboard-format_color_reset:before {
  content: "\e23b";
}
.ada-dashboard-format_color_text:before {
  content: "\e23c";
}
.ada-dashboard-format_indent_decrease:before {
  content: "\e23d";
}
.ada-dashboard-format_indent_increase:before {
  content: "\e23e";
}
.ada-dashboard-format_italic:before {
  content: "\e23f";
}
.ada-dashboard-format_line_spacing:before {
  content: "\e240";
}
.ada-dashboard-format_list_bulleted:before {
  content: "\e241";
}
.ada-dashboard-format_list_numbered:before {
  content: "\e242";
}
.ada-dashboard-format_paint:before {
  content: "\e243";
}
.ada-dashboard-format_quote:before {
  content: "\e244";
}
.ada-dashboard-format_shapes:before {
  content: "\e25e";
}
.ada-dashboard-format_size:before {
  content: "\e245";
}
.ada-dashboard-format_strikethrough:before {
  content: "\e246";
}
.ada-dashboard-format_textdirection_l_to_r:before {
  content: "\e247";
}
.ada-dashboard-format_textdirection_r_to_l:before {
  content: "\e248";
}
.ada-dashboard-format_underlined:before {
  content: "\e249";
}
.ada-dashboard-question_answer:before {
  content: "\e8af";
}
.ada-dashboard-forward:before {
  content: "\e154";
}
.ada-dashboard-forward_10:before {
  content: "\e056";
}
.ada-dashboard-forward_30:before {
  content: "\e057";
}
.ada-dashboard-forward_5:before {
  content: "\e058";
}
.ada-dashboard-free_breakfast:before {
  content: "\eb44";
}
.ada-dashboard-fullscreen:before {
  content: "\e5d0";
}
.ada-dashboard-fullscreen_exit:before {
  content: "\e5d1";
}
.ada-dashboard-functions:before {
  content: "\e24a";
}
.ada-dashboard-g_translate:before {
  content: "\e927";
}
.ada-dashboard-games:before {
  content: "\e021";
}
.ada-dashboard-gavel:before {
  content: "\e90e";
}
.ada-dashboard-gesture:before {
  content: "\e155";
}
.ada-dashboard-gif:before {
  content: "\e908";
}
.ada-dashboard-goat:before {
  content: "\e900";
}
.ada-dashboard-golf_course:before {
  content: "\eb45";
}
.ada-dashboard-my_location:before {
  content: "\e55c";
}
.ada-dashboard-location_searching:before {
  content: "\e1b7";
}
.ada-dashboard-location_disabled:before {
  content: "\e1b6";
}
.ada-dashboard-star:before {
  content: "\e838";
}
.ada-dashboard-gradient:before {
  content: "\e3e9";
}
.ada-dashboard-grain:before {
  content: "\e3ea";
}
.ada-dashboard-graphic_eq:before {
  content: "\e1b8";
}
.ada-dashboard-grid_off:before {
  content: "\e3eb";
}
.ada-dashboard-grid_on:before {
  content: "\e3ec";
}
.ada-dashboard-people:before {
  content: "\e7fb";
}
.ada-dashboard-group_add:before {
  content: "\e7f0";
}
.ada-dashboard-group_work:before {
  content: "\e886";
}
.ada-dashboard-hd:before {
  content: "\e052";
}
.ada-dashboard-hdr_off:before {
  content: "\e3ed";
}
.ada-dashboard-hdr_on:before {
  content: "\e3ee";
}
.ada-dashboard-hdr_strong:before {
  content: "\e3f1";
}
.ada-dashboard-hdr_weak:before {
  content: "\e3f2";
}
.ada-dashboard-headset:before {
  content: "\e310";
}
.ada-dashboard-headset_mic:before {
  content: "\e311";
}
.ada-dashboard-healing:before {
  content: "\e3f3";
}
.ada-dashboard-hearing:before {
  content: "\e023";
}
.ada-dashboard-help:before {
  content: "\e887";
}
.ada-dashboard-help_outline:before {
  content: "\e8fd";
}
.ada-dashboard-high_quality:before {
  content: "\e024";
}
.ada-dashboard-highlight:before {
  content: "\e25f";
}
.ada-dashboard-highlight_off:before {
  content: "\e888";
}
.ada-dashboard-restore:before {
  content: "\e8b3";
}
.ada-dashboard-home:before {
  content: "\e88a";
}
.ada-dashboard-hot_tub:before {
  content: "\eb46";
}
.ada-dashboard-local_hotel:before {
  content: "\e549";
}
.ada-dashboard-hourglass_empty:before {
  content: "\e88b";
}
.ada-dashboard-hourglass_full:before {
  content: "\e88c";
}
.ada-dashboard-http:before {
  content: "\e902";
}
.ada-dashboard-lock:before {
  content: "\e897";
}
.ada-dashboard-photo:before {
  content: "\e410";
}
.ada-dashboard-image_aspect_ratio:before {
  content: "\e3f5";
}
.ada-dashboard-import_contacts:before {
  content: "\e0e0";
}
.ada-dashboard-import_export:before {
  content: "\e0c3";
}
.ada-dashboard-important_devices:before {
  content: "\e912";
}
.ada-dashboard-inbox:before {
  content: "\e156";
}
.ada-dashboard-indeterminate_check_box:before {
  content: "\e909";
}
.ada-dashboard-info:before {
  content: "\e88e";
}
.ada-dashboard-info_outline:before {
  content: "\e88f";
}
.ada-dashboard-input:before {
  content: "\e890";
}
.ada-dashboard-insert_comment:before {
  content: "\e24c";
}
.ada-dashboard-insert_drive_file:before {
  content: "\e24d";
}
.ada-dashboard-tag_faces:before {
  content: "\e420";
}
.ada-dashboard-link:before {
  content: "\e157";
}
.ada-dashboard-invert_colors:before {
  content: "\e891";
}
.ada-dashboard-invert_colors_off:before {
  content: "\e0c4";
}
.ada-dashboard-iso:before {
  content: "\e3f6";
}
.ada-dashboard-keyboard:before {
  content: "\e312";
}
.ada-dashboard-keyboard_arrow_down:before {
  content: "\e313";
}
.ada-dashboard-keyboard_arrow_left:before {
  content: "\e314";
}
.ada-dashboard-keyboard_arrow_right:before {
  content: "\e315";
}
.ada-dashboard-keyboard_arrow_up:before {
  content: "\e316";
}
.ada-dashboard-keyboard_backspace:before {
  content: "\e317";
}
.ada-dashboard-keyboard_capslock:before {
  content: "\e318";
}
.ada-dashboard-keyboard_hide:before {
  content: "\e31a";
}
.ada-dashboard-keyboard_return:before {
  content: "\e31b";
}
.ada-dashboard-keyboard_tab:before {
  content: "\e31c";
}
.ada-dashboard-keyboard_voice:before {
  content: "\e31d";
}
.ada-dashboard-kitchen:before {
  content: "\eb47";
}
.ada-dashboard-label:before {
  content: "\e892";
}
.ada-dashboard-label_outline:before {
  content: "\e893";
}
.ada-dashboard-language:before {
  content: "\e894";
}
.ada-dashboard-laptop_chromebook:before {
  content: "\e31f";
}
.ada-dashboard-laptop_mac:before {
  content: "\e320";
}
.ada-dashboard-laptop_windows:before {
  content: "\e321";
}
.ada-dashboard-last_page:before {
  content: "\e5dd";
}
.ada-dashboard-open_in_new:before {
  content: "\e89e";
}
.ada-dashboard-layers:before {
  content: "\e53b";
}
.ada-dashboard-layers_clear:before {
  content: "\e53c";
}
.ada-dashboard-leak_add:before {
  content: "\e3f8";
}
.ada-dashboard-leak_remove:before {
  content: "\e3f9";
}
.ada-dashboard-lens:before {
  content: "\e3fa";
}
.ada-dashboard-library_books:before {
  content: "\e02f";
}
.ada-dashboard-library_music:before {
  content: "\e030";
}
.ada-dashboard-lightbulb_outline:before {
  content: "\e90f";
}
.ada-dashboard-line_style:before {
  content: "\e919";
}
.ada-dashboard-line_weight:before {
  content: "\e91a";
}
.ada-dashboard-linear_scale:before {
  content: "\e260";
}
.ada-dashboard-linked_camera:before {
  content: "\e438";
}
.ada-dashboard-list:before {
  content: "\e896";
}
.ada-dashboard-live_help:before {
  content: "\e0c6";
}
.ada-dashboard-live_tv:before {
  content: "\e639";
}
.ada-dashboard-local_play:before {
  content: "\e553";
}
.ada-dashboard-local_airport:before {
  content: "\e53d";
}
.ada-dashboard-local_atm:before {
  content: "\e53e";
}
.ada-dashboard-local_bar:before {
  content: "\e540";
}
.ada-dashboard-local_cafe:before {
  content: "\e541";
}
.ada-dashboard-local_car_wash:before {
  content: "\e542";
}
.ada-dashboard-local_convenience_store:before {
  content: "\e543";
}
.ada-dashboard-restaurant_menu:before {
  content: "\e561";
}
.ada-dashboard-local_drink:before {
  content: "\e544";
}
.ada-dashboard-local_florist:before {
  content: "\e545";
}
.ada-dashboard-local_gas_station:before {
  content: "\e546";
}
.ada-dashboard-shopping_cart:before {
  content: "\e8cc";
}
.ada-dashboard-local_hospital:before {
  content: "\e548";
}
.ada-dashboard-local_laundry_service:before {
  content: "\e54a";
}
.ada-dashboard-local_library:before {
  content: "\e54b";
}
.ada-dashboard-local_mall:before {
  content: "\e54c";
}
.ada-dashboard-theaters:before {
  content: "\e8da";
}
.ada-dashboard-local_offer:before {
  content: "\e54e";
}
.ada-dashboard-local_parking:before {
  content: "\e54f";
}
.ada-dashboard-local_pharmacy:before {
  content: "\e550";
}
.ada-dashboard-local_pizza:before {
  content: "\e552";
}
.ada-dashboard-print:before {
  content: "\e8ad";
}
.ada-dashboard-local_shipping:before {
  content: "\e558";
}
.ada-dashboard-local_taxi:before {
  content: "\e559";
}
.ada-dashboard-location_city:before {
  content: "\e7f1";
}
.ada-dashboard-location_off:before {
  content: "\e0c7";
}
.ada-dashboard-room:before {
  content: "\e8b4";
}
.ada-dashboard-lock_open:before {
  content: "\e898";
}
.ada-dashboard-lock_outline:before {
  content: "\e899";
}
.ada-dashboard-looks:before {
  content: "\e3fc";
}
.ada-dashboard-looks_3:before {
  content: "\e3fb";
}
.ada-dashboard-looks_4:before {
  content: "\e3fd";
}
.ada-dashboard-looks_5:before {
  content: "\e3fe";
}
.ada-dashboard-looks_6:before {
  content: "\e3ff";
}
.ada-dashboard-looks_one:before {
  content: "\e400";
}
.ada-dashboard-looks_two:before {
  content: "\e401";
}
.ada-dashboard-sync:before {
  content: "\e627";
}
.ada-dashboard-loupe:before {
  content: "\e402";
}
.ada-dashboard-low_priority:before {
  content: "\e16d";
}
.ada-dashboard-loyalty:before {
  content: "\e89a";
}
.ada-dashboard-mail_outline:before {
  content: "\e0e1";
}
.ada-dashboard-map:before {
  content: "\e55b";
}
.ada-dashboard-markunread_mailbox:before {
  content: "\e89b";
}
.ada-dashboard-memory:before {
  content: "\e322";
}
.ada-dashboard-menu:before {
  content: "\e5d2";
}
.ada-dashboard-message:before {
  content: "\e0c9";
}
.ada-dashboard-mic:before {
  content: "\e029";
}
.ada-dashboard-mic_none:before {
  content: "\e02a";
}
.ada-dashboard-mic_off:before {
  content: "\e02b";
}
.ada-dashboard-mms:before {
  content: "\e618";
}
.ada-dashboard-mode_comment:before {
  content: "\e253";
}
.ada-dashboard-monetization_on:before {
  content: "\e263";
}
.ada-dashboard-money_off:before {
  content: "\e25c";
}
.ada-dashboard-monochrome_photos:before {
  content: "\e403";
}
.ada-dashboard-mood_bad:before {
  content: "\e7f3";
}
.ada-dashboard-more:before {
  content: "\e619";
}
.ada-dashboard-more_horiz:before {
  content: "\e5d3";
}
.ada-dashboard-more_vert:before {
  content: "\e5d4";
}
.ada-dashboard-motorcycle:before {
  content: "\e91b";
}
.ada-dashboard-mouse:before {
  content: "\e323";
}
.ada-dashboard-move_to_inbox:before {
  content: "\e168";
}
.ada-dashboard-movie_creation:before {
  content: "\e404";
}
.ada-dashboard-movie_filter:before {
  content: "\e43a";
}
.ada-dashboard-multiline_chart:before {
  content: "\e6df";
}
.ada-dashboard-music_note:before {
  content: "\e405";
}
.ada-dashboard-music_video:before {
  content: "\e063";
}
.ada-dashboard-nature:before {
  content: "\e406";
}
.ada-dashboard-nature_people:before {
  content: "\e407";
}
.ada-dashboard-navigation:before {
  content: "\e55d";
}
.ada-dashboard-near_me:before {
  content: "\e569";
}
.ada-dashboard-network_cell:before {
  content: "\e1b9";
}
.ada-dashboard-network_check:before {
  content: "\e640";
}
.ada-dashboard-network_locked:before {
  content: "\e61a";
}
.ada-dashboard-network_wifi:before {
  content: "\e1ba";
}
.ada-dashboard-new_releases:before {
  content: "\e031";
}
.ada-dashboard-next_week:before {
  content: "\e16a";
}
.ada-dashboard-nfc:before {
  content: "\e1bb";
}
.ada-dashboard-no_encryption:before {
  content: "\e641";
}
.ada-dashboard-signal_cellular_no_sim:before {
  content: "\e1ce";
}
.ada-dashboard-note:before {
  content: "\e06f";
}
.ada-dashboard-note_add:before {
  content: "\e89c";
}
.ada-dashboard-notifications:before {
  content: "\e7f4";
}
.ada-dashboard-notifications_active:before {
  content: "\e7f7";
}
.ada-dashboard-notifications_none:before {
  content: "\e7f5";
}
.ada-dashboard-notifications_off:before {
  content: "\e7f6";
}
.ada-dashboard-notifications_paused:before {
  content: "\e7f8";
}
.ada-dashboard-offline_pin:before {
  content: "\e90a";
}
.ada-dashboard-ondemand_video:before {
  content: "\e63a";
}
.ada-dashboard-opacity:before {
  content: "\e91c";
}
.ada-dashboard-open_in_browser:before {
  content: "\e89d";
}
.ada-dashboard-open_with:before {
  content: "\e89f";
}
.ada-dashboard-pages:before {
  content: "\e7f9";
}
.ada-dashboard-pageview:before {
  content: "\e8a0";
}
.ada-dashboard-pan_tool:before {
  content: "\e925";
}
.ada-dashboard-panorama:before {
  content: "\e40b";
}
.ada-dashboard-radio_button_unchecked:before {
  content: "\e836";
}
.ada-dashboard-panorama_horizontal:before {
  content: "\e40d";
}
.ada-dashboard-panorama_vertical:before {
  content: "\e40e";
}
.ada-dashboard-panorama_wide_angle:before {
  content: "\e40f";
}
.ada-dashboard-party_mode:before {
  content: "\e7fa";
}
.ada-dashboard-pause:before {
  content: "\e034";
}
.ada-dashboard-pause_circle_filled:before {
  content: "\e035";
}
.ada-dashboard-pause_circle_outline:before {
  content: "\e036";
}
.ada-dashboard-people_outline:before {
  content: "\e7fc";
}
.ada-dashboard-perm_camera_mic:before {
  content: "\e8a2";
}
.ada-dashboard-perm_contact_calendar:before {
  content: "\e8a3";
}
.ada-dashboard-perm_data_setting:before {
  content: "\e8a4";
}
.ada-dashboard-perm_device_information:before {
  content: "\e8a5";
}
.ada-dashboard-person_outline:before {
  content: "\e7ff";
}
.ada-dashboard-perm_media:before {
  content: "\e8a7";
}
.ada-dashboard-perm_phone_msg:before {
  content: "\e8a8";
}
.ada-dashboard-perm_scan_wifi:before {
  content: "\e8a9";
}
.ada-dashboard-person:before {
  content: "\e7fd";
}
.ada-dashboard-person_add:before {
  content: "\e7fe";
}
.ada-dashboard-person_pin:before {
  content: "\e55a";
}
.ada-dashboard-person_pin_circle:before {
  content: "\e56a";
}
.ada-dashboard-personal_video:before {
  content: "\e63b";
}
.ada-dashboard-pets:before {
  content: "\e91d";
}
.ada-dashboard-phone_android:before {
  content: "\e324";
}
.ada-dashboard-phone_bluetooth_speaker:before {
  content: "\e61b";
}
.ada-dashboard-phone_forwarded:before {
  content: "\e61c";
}
.ada-dashboard-phone_in_talk:before {
  content: "\e61d";
}
.ada-dashboard-phone_iphone:before {
  content: "\e325";
}
.ada-dashboard-phone_locked:before {
  content: "\e61e";
}
.ada-dashboard-phone_missed:before {
  content: "\e61f";
}
.ada-dashboard-phone_paused:before {
  content: "\e620";
}
.ada-dashboard-phonelink_erase:before {
  content: "\e0db";
}
.ada-dashboard-phonelink_lock:before {
  content: "\e0dc";
}
.ada-dashboard-phonelink_off:before {
  content: "\e327";
}
.ada-dashboard-phonelink_ring:before {
  content: "\e0dd";
}
.ada-dashboard-phonelink_setup:before {
  content: "\e0de";
}
.ada-dashboard-photo_album:before {
  content: "\e411";
}
.ada-dashboard-photo_filter:before {
  content: "\e43b";
}
.ada-dashboard-photo_size_select_actual:before {
  content: "\e432";
}
.ada-dashboard-photo_size_select_large:before {
  content: "\e433";
}
.ada-dashboard-photo_size_select_small:before {
  content: "\e434";
}
.ada-dashboard-picture_as_pdf:before {
  content: "\e415";
}
.ada-dashboard-picture_in_picture:before {
  content: "\e8aa";
}
.ada-dashboard-picture_in_picture_alt:before {
  content: "\e911";
}
.ada-dashboard-pie_chart:before {
  content: "\e6c4";
}
.ada-dashboard-pie_chart_outlined:before {
  content: "\e6c5";
}
.ada-dashboard-pin_drop:before {
  content: "\e55e";
}
.ada-dashboard-play_arrow:before {
  content: "\e037";
}
.ada-dashboard-play_circle_filled:before {
  content: "\e038";
}
.ada-dashboard-play_circle_outline:before {
  content: "\e039";
}
.ada-dashboard-play_for_work:before {
  content: "\e906";
}
.ada-dashboard-playlist_add:before {
  content: "\e03b";
}
.ada-dashboard-playlist_add_check:before {
  content: "\e065";
}
.ada-dashboard-playlist_play:before {
  content: "\e05f";
}
.ada-dashboard-plus_one:before {
  content: "\e800";
}
.ada-dashboard-polymer:before {
  content: "\e8ab";
}
.ada-dashboard-pool:before {
  content: "\eb48";
}
.ada-dashboard-portable_wifi_off:before {
  content: "\e0ce";
}
.ada-dashboard-portrait:before {
  content: "\e416";
}
.ada-dashboard-power:before {
  content: "\e63c";
}
.ada-dashboard-power_input:before {
  content: "\e336";
}
.ada-dashboard-power_settings_new:before {
  content: "\e8ac";
}
.ada-dashboard-pregnant_woman:before {
  content: "\e91e";
}
.ada-dashboard-present_to_all:before {
  content: "\e0df";
}
.ada-dashboard-priority_high:before {
  content: "\e645";
}
.ada-dashboard-public:before {
  content: "\e80b";
}
.ada-dashboard-publish:before {
  content: "\e255";
}
.ada-dashboard-queue_music:before {
  content: "\e03d";
}
.ada-dashboard-queue_play_next:before {
  content: "\e066";
}
.ada-dashboard-radio:before {
  content: "\e03e";
}
.ada-dashboard-radio_button_checked:before {
  content: "\e837";
}
.ada-dashboard-rate_review:before {
  content: "\e560";
}
.ada-dashboard-receipt:before {
  content: "\e8b0";
}
.ada-dashboard-recent_actors:before {
  content: "\e03f";
}
.ada-dashboard-record_voice_over:before {
  content: "\e91f";
}
.ada-dashboard-redo:before {
  content: "\e15a";
}
.ada-dashboard-refresh:before {
  content: "\e5d5";
}
.ada-dashboard-remove:before {
  content: "\e15b";
}
.ada-dashboard-remove_circle_outline:before {
  content: "\e15d";
}
.ada-dashboard-remove_from_queue:before {
  content: "\e067";
}
.ada-dashboard-visibility:before {
  content: "\e8f4";
}
.ada-dashboard-remove_shopping_cart:before {
  content: "\e928";
}
.ada-dashboard-reorder:before {
  content: "\e8fe";
}
.ada-dashboard-repeat:before {
  content: "\e040";
}
.ada-dashboard-repeat_one:before {
  content: "\e041";
}
.ada-dashboard-replay:before {
  content: "\e042";
}
.ada-dashboard-replay_10:before {
  content: "\e059";
}
.ada-dashboard-replay_30:before {
  content: "\e05a";
}
.ada-dashboard-replay_5:before {
  content: "\e05b";
}
.ada-dashboard-reply:before {
  content: "\e15e";
}
.ada-dashboard-reply_all:before {
  content: "\e15f";
}
.ada-dashboard-report:before {
  content: "\e160";
}
.ada-dashboard-warning:before {
  content: "\e002";
}
.ada-dashboard-restaurant:before {
  content: "\e56c";
}
.ada-dashboard-restore_page:before {
  content: "\e929";
}
.ada-dashboard-ring_volume:before {
  content: "\e0d1";
}
.ada-dashboard-room_service:before {
  content: "\eb49";
}
.ada-dashboard-rotate_90_degrees_ccw:before {
  content: "\e418";
}
.ada-dashboard-rotate_left:before {
  content: "\e419";
}
.ada-dashboard-rotate_right:before {
  content: "\e41a";
}
.ada-dashboard-rounded_corner:before {
  content: "\e920";
}
.ada-dashboard-router:before {
  content: "\e328";
}
.ada-dashboard-rowing:before {
  content: "\e921";
}
.ada-dashboard-rss_feed:before {
  content: "\e0e5";
}
.ada-dashboard-rv_hookup:before {
  content: "\e642";
}
.ada-dashboard-satellite:before {
  content: "\e562";
}
.ada-dashboard-save:before {
  content: "\e161";
}
.ada-dashboard-scanner:before {
  content: "\e329";
}
.ada-dashboard-school:before {
  content: "\e80c";
}
.ada-dashboard-screen_lock_landscape:before {
  content: "\e1be";
}
.ada-dashboard-screen_lock_portrait:before {
  content: "\e1bf";
}
.ada-dashboard-screen_lock_rotation:before {
  content: "\e1c0";
}
.ada-dashboard-screen_rotation:before {
  content: "\e1c1";
}
.ada-dashboard-screen_share:before {
  content: "\e0e2";
}
.ada-dashboard-sd_storage:before {
  content: "\e1c2";
}
.ada-dashboard-search:before {
  content: "\e8b6";
}
.ada-dashboard-security:before {
  content: "\e32a";
}
.ada-dashboard-select_all:before {
  content: "\e162";
}
.ada-dashboard-send:before {
  content: "\e163";
}
.ada-dashboard-sentiment_dissatisfied:before {
  content: "\e811";
}
.ada-dashboard-sentiment_neutral:before {
  content: "\e812";
}
.ada-dashboard-sentiment_satisfied:before {
  content: "\e813";
}
.ada-dashboard-sentiment_very_dissatisfied:before {
  content: "\e814";
}
.ada-dashboard-sentiment_very_satisfied:before {
  content: "\e815";
}
.ada-dashboard-settings:before {
  content: "\e8b8";
}
.ada-dashboard-settings_applications:before {
  content: "\e8b9";
}
.ada-dashboard-settings_backup_restore:before {
  content: "\e8ba";
}
.ada-dashboard-settings_bluetooth:before {
  content: "\e8bb";
}
.ada-dashboard-settings_brightness:before {
  content: "\e8bd";
}
.ada-dashboard-settings_cell:before {
  content: "\e8bc";
}
.ada-dashboard-settings_ethernet:before {
  content: "\e8be";
}
.ada-dashboard-settings_input_antenna:before {
  content: "\e8bf";
}
.ada-dashboard-settings_input_composite:before {
  content: "\e8c1";
}
.ada-dashboard-settings_input_hdmi:before {
  content: "\e8c2";
}
.ada-dashboard-settings_input_svideo:before {
  content: "\e8c3";
}
.ada-dashboard-settings_overscan:before {
  content: "\e8c4";
}
.ada-dashboard-settings_phone:before {
  content: "\e8c5";
}
.ada-dashboard-settings_power:before {
  content: "\e8c6";
}
.ada-dashboard-settings_remote:before {
  content: "\e8c7";
}
.ada-dashboard-settings_system_daydream:before {
  content: "\e1c3";
}
.ada-dashboard-settings_voice:before {
  content: "\e8c8";
}
.ada-dashboard-share:before {
  content: "\e80d";
}
.ada-dashboard-shop:before {
  content: "\e8c9";
}
.ada-dashboard-shop_two:before {
  content: "\e8ca";
}
.ada-dashboard-shopping_basket:before {
  content: "\e8cb";
}
.ada-dashboard-short_text:before {
  content: "\e261";
}
.ada-dashboard-show_chart:before {
  content: "\e6e1";
}
.ada-dashboard-shuffle:before {
  content: "\e043";
}
.ada-dashboard-signal_cellular_4_bar:before {
  content: "\e1c8";
}
.ada-dashboard-signal_cellular_connected_no_internet_4_bar:before {
  content: "\e1cd";
}
.ada-dashboard-signal_cellular_null:before {
  content: "\e1cf";
}
.ada-dashboard-signal_cellular_off:before {
  content: "\e1d0";
}
.ada-dashboard-signal_wifi_4_bar:before {
  content: "\e1d8";
}
.ada-dashboard-signal_wifi_4_bar_lock:before {
  content: "\e1d9";
}
.ada-dashboard-signal_wifi_off:before {
  content: "\e1da";
}
.ada-dashboard-sim_card:before {
  content: "\e32b";
}
.ada-dashboard-sim_card_alert:before {
  content: "\e624";
}
.ada-dashboard-skip_next:before {
  content: "\e044";
}
.ada-dashboard-skip_previous:before {
  content: "\e045";
}
.ada-dashboard-slideshow:before {
  content: "\e41b";
}
.ada-dashboard-slow_motion_video:before {
  content: "\e068";
}
.ada-dashboard-stay_primary_portrait:before {
  content: "\e0d6";
}
.ada-dashboard-smoke_free:before {
  content: "\eb4a";
}
.ada-dashboard-smoking_rooms:before {
  content: "\eb4b";
}
.ada-dashboard-textsms:before {
  content: "\e0d8";
}
.ada-dashboard-snooze:before {
  content: "\e046";
}
.ada-dashboard-sort:before {
  content: "\e164";
}
.ada-dashboard-sort_by_alpha:before {
  content: "\e053";
}
.ada-dashboard-spa:before {
  content: "\eb4c";
}
.ada-dashboard-space_bar:before {
  content: "\e256";
}
.ada-dashboard-speaker:before {
  content: "\e32d";
}
.ada-dashboard-speaker_group:before {
  content: "\e32e";
}
.ada-dashboard-speaker_notes:before {
  content: "\e8cd";
}
.ada-dashboard-speaker_notes_off:before {
  content: "\e92a";
}
.ada-dashboard-speaker_phone:before {
  content: "\e0d2";
}
.ada-dashboard-spellcheck:before {
  content: "\e8ce";
}
.ada-dashboard-star_border:before {
  content: "\e83a";
}
.ada-dashboard-star_half:before {
  content: "\e839";
}
.ada-dashboard-stars:before {
  content: "\e8d0";
}
.ada-dashboard-stay_primary_landscape:before {
  content: "\e0d5";
}
.ada-dashboard-stop:before {
  content: "\e047";
}
.ada-dashboard-stop_screen_share:before {
  content: "\e0e3";
}
.ada-dashboard-storage:before {
  content: "\e1db";
}
.ada-dashboard-store_mall_directory:before {
  content: "\e563";
}
.ada-dashboard-straighten:before {
  content: "\e41c";
}
.ada-dashboard-streetview:before {
  content: "\e56e";
}
.ada-dashboard-strikethrough_s:before {
  content: "\e257";
}
.ada-dashboard-style:before {
  content: "\e41d";
}
.ada-dashboard-subdirectory_arrow_left:before {
  content: "\e5d9";
}
.ada-dashboard-subdirectory_arrow_right:before {
  content: "\e5da";
}
.ada-dashboard-subject:before {
  content: "\e8d2";
}
.ada-dashboard-subscriptions:before {
  content: "\e064";
}
.ada-dashboard-subtitles:before {
  content: "\e048";
}
.ada-dashboard-subway:before {
  content: "\e56f";
}
.ada-dashboard-supervisor_account:before {
  content: "\e8d3";
}
.ada-dashboard-surround_sound:before {
  content: "\e049";
}
.ada-dashboard-swap_calls:before {
  content: "\e0d7";
}
.ada-dashboard-swap_horiz:before {
  content: "\e8d4";
}
.ada-dashboard-swap_vert:before {
  content: "\e8d5";
}
.ada-dashboard-swap_vertical_circle:before {
  content: "\e8d6";
}
.ada-dashboard-switch_camera:before {
  content: "\e41e";
}
.ada-dashboard-switch_video:before {
  content: "\e41f";
}
.ada-dashboard-sync_disabled:before {
  content: "\e628";
}
.ada-dashboard-sync_problem:before {
  content: "\e629";
}
.ada-dashboard-system_update:before {
  content: "\e62a";
}
.ada-dashboard-system_update_alt:before {
  content: "\e8d7";
}
.ada-dashboard-tab:before {
  content: "\e8d8";
}
.ada-dashboard-tab_unselected:before {
  content: "\e8d9";
}
.ada-dashboard-tablet:before {
  content: "\e32f";
}
.ada-dashboard-tablet_android:before {
  content: "\e330";
}
.ada-dashboard-tablet_mac:before {
  content: "\e331";
}
.ada-dashboard-tap_and_play:before {
  content: "\e62b";
}
.ada-dashboard-text_fields:before {
  content: "\e262";
}
.ada-dashboard-text_format:before {
  content: "\e165";
}
.ada-dashboard-texture:before {
  content: "\e421";
}
.ada-dashboard-thumb_down:before {
  content: "\e8db";
}
.ada-dashboard-thumb_up:before {
  content: "\e8dc";
}
.ada-dashboard-thumbs_up_down:before {
  content: "\e8dd";
}
.ada-dashboard-timelapse:before {
  content: "\e422";
}
.ada-dashboard-timeline:before {
  content: "\e922";
}
.ada-dashboard-timer:before {
  content: "\e425";
}
.ada-dashboard-timer_10:before {
  content: "\e423";
}
.ada-dashboard-timer_3:before {
  content: "\e424";
}
.ada-dashboard-timer_off:before {
  content: "\e426";
}
.ada-dashboard-title:before {
  content: "\e264";
}
.ada-dashboard-toc:before {
  content: "\e8de";
}
.ada-dashboard-today:before {
  content: "\e8df";
}
.ada-dashboard-toll:before {
  content: "\e8e0";
}
.ada-dashboard-tonality:before {
  content: "\e427";
}
.ada-dashboard-touch_app:before {
  content: "\e913";
}
.ada-dashboard-toys:before {
  content: "\e332";
}
.ada-dashboard-track_changes:before {
  content: "\e8e1";
}
.ada-dashboard-traffic:before {
  content: "\e565";
}
.ada-dashboard-train:before {
  content: "\e570";
}
.ada-dashboard-tram:before {
  content: "\e571";
}
.ada-dashboard-transfer_within_a_station:before {
  content: "\e572";
}
.ada-dashboard-transform:before {
  content: "\e428";
}
.ada-dashboard-translate:before {
  content: "\e8e2";
}
.ada-dashboard-trending_down:before {
  content: "\e8e3";
}
.ada-dashboard-trending_flat:before {
  content: "\e8e4";
}
.ada-dashboard-trending_up:before {
  content: "\e8e5";
}
.ada-dashboard-tune:before {
  content: "\e429";
}
.ada-dashboard-tv:before {
  content: "\e333";
}
.ada-dashboard-unarchive:before {
  content: "\e169";
}
.ada-dashboard-undo:before {
  content: "\e166";
}
.ada-dashboard-unfold_less:before {
  content: "\e5d6";
}
.ada-dashboard-unfold_more:before {
  content: "\e5d7";
}
.ada-dashboard-update:before {
  content: "\e923";
}
.ada-dashboard-usb:before {
  content: "\e1e0";
}
.ada-dashboard-verified_user:before {
  content: "\e8e8";
}
.ada-dashboard-vertical_align_bottom:before {
  content: "\e258";
}
.ada-dashboard-vertical_align_center:before {
  content: "\e259";
}
.ada-dashboard-vertical_align_top:before {
  content: "\e25a";
}
.ada-dashboard-vibration:before {
  content: "\e62d";
}
.ada-dashboard-video_call:before {
  content: "\e070";
}
.ada-dashboard-video_label:before {
  content: "\e071";
}
.ada-dashboard-video_library:before {
  content: "\e04a";
}
.ada-dashboard-videocam:before {
  content: "\e04b";
}
.ada-dashboard-videocam_off:before {
  content: "\e04c";
}
.ada-dashboard-videogame_asset:before {
  content: "\e338";
}
.ada-dashboard-view_agenda:before {
  content: "\e8e9";
}
.ada-dashboard-view_array:before {
  content: "\e8ea";
}
.ada-dashboard-view_carousel:before {
  content: "\e8eb";
}
.ada-dashboard-view_column:before {
  content: "\e8ec";
}
.ada-dashboard-view_comfy:before {
  content: "\e42a";
}
.ada-dashboard-view_compact:before {
  content: "\e42b";
}
.ada-dashboard-view_day:before {
  content: "\e8ed";
}
.ada-dashboard-view_headline:before {
  content: "\e8ee";
}
.ada-dashboard-view_list:before {
  content: "\e8ef";
}
.ada-dashboard-view_module:before {
  content: "\e8f0";
}
.ada-dashboard-view_quilt:before {
  content: "\e8f1";
}
.ada-dashboard-view_stream:before {
  content: "\e8f2";
}
.ada-dashboard-view_week:before {
  content: "\e8f3";
}
.ada-dashboard-vignette:before {
  content: "\e435";
}
.ada-dashboard-visibility_off:before {
  content: "\e8f5";
}
.ada-dashboard-voice_chat:before {
  content: "\e62e";
}
.ada-dashboard-voicemail:before {
  content: "\e0d9";
}
.ada-dashboard-volume_down:before {
  content: "\e04d";
}
.ada-dashboard-volume_mute:before {
  content: "\e04e";
}
.ada-dashboard-volume_off:before {
  content: "\e04f";
}
.ada-dashboard-volume_up:before {
  content: "\e050";
}
.ada-dashboard-vpn_key:before {
  content: "\e0da";
}
.ada-dashboard-vpn_lock:before {
  content: "\e62f";
}
.ada-dashboard-wallpaper:before {
  content: "\e1bc";
}
.ada-dashboard-watch:before {
  content: "\e334";
}
.ada-dashboard-watch_later:before {
  content: "\e924";
}
.ada-dashboard-wb_auto:before {
  content: "\e42c";
}
.ada-dashboard-wb_incandescent:before {
  content: "\e42e";
}
.ada-dashboard-wb_iridescent:before {
  content: "\e436";
}
.ada-dashboard-wb_sunny:before {
  content: "\e430";
}
.ada-dashboard-wc:before {
  content: "\e63d";
}
.ada-dashboard-web:before {
  content: "\e051";
}
.ada-dashboard-web_asset:before {
  content: "\e069";
}
.ada-dashboard-weekend:before {
  content: "\e16b";
}
.ada-dashboard-whatshot:before {
  content: "\e80e";
}
.ada-dashboard-widgets:before {
  content: "\e1bd";
}
.ada-dashboard-wifi:before {
  content: "\e63e";
}
.ada-dashboard-wifi_lock:before {
  content: "\e1e1";
}
.ada-dashboard-wifi_tethering:before {
  content: "\e1e2";
}
.ada-dashboard-work:before {
  content: "\e8f9";
}
.ada-dashboard-wrap_text:before {
  content: "\e25b";
}
.ada-dashboard-youtube_searched_for:before {
  content: "\e8fa";
}
.ada-dashboard-zoom_in:before {
  content: "\e8ff";
}
.ada-dashboard-zoom_out:before {
  content: "\e907";
}
.ada-dashboard-zoom_out_map:before {
  content: "\e56b";
}
.fa-spin {
  display: inline-block;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear
}
@-webkit-keyframes fa-spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg)
  }
}
@keyframes fa-spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg)
  }
}

.cp-round {
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  position: relative
}

.cp-round:before {
  border-radius: 50%;
  content: " ";
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  border-top: solid 6px #bababa;
  border-right: solid 6px #bababa;
  border-bottom: solid 6px #bababa;
  border-left: solid 6px #bababa;
  position: absolute;
  top: 0;
  left: 0
}

.cp-round:after {
  border-radius: 50%;
  content: " ";
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  border-top: solid 6px #f56151;
  border-right: solid 6px transparent;
  border-bottom: solid 6px transparent;
  border-left: solid 6px transparent;
  position: absolute;
  top: 0;
  left: 0;
  animation: cp-round-animate 1s ease-in-out infinite
}

@keyframes cp-round-animate {
  0% {
      transform: rotate(0)
  }

  100% {
      transform: rotate(360deg)
  }
}

.cp-pinwheel {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  border-top: solid 24px #0fd6ff;
  border-right: solid 24px #58bd55;
  border-bottom: solid 24px #eb68a1;
  border-left: solid 24px #f3d53f;
  animation: cp-pinwheel-animate 1s linear infinite
}

@keyframes cp-pinwheel-animate {
  0% {
      border-top-color: #0fd6ff;
      border-right-color: #58bd55;
      border-bottom-color: #eb68a1;
      border-left-color: #f3d53f;
      transform: rotate(0)
  }

  25% {
      border-top-color: #eb68a1;
      border-right-color: #f3d53f;
      border-bottom-color: #0fd6ff;
      border-left-color: #58bd55
  }

  50% {
      border-top-color: #0fd6ff;
      border-right-color: #58bd55;
      border-bottom-color: #eb68a1;
      border-left-color: #f3d53f
  }

  75% {
      border-top-color: #eb68a1;
      border-right-color: #f3d53f;
      border-bottom-color: #0fd6ff;
      border-left-color: #58bd55
  }

  100% {
      border-top-color: #0fd6ff;
      border-right-color: #58bd55;
      border-bottom-color: #eb68a1;
      border-left-color: #f3d53f;
      transform: rotate(360deg)
  }
}