@import "./../../style/base";
.modules-sidebox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .box {
    z-index: 2;
    width: 350px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $text-primary-color;
    box-shadow: 0 0 10px $divider-color;
    .title {
      line-height: 40px;
      padding: 0 0 0 15px;
      border-bottom: 1px solid rgba($divider-color-rgb, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 3;
      display: flex;
      .desc {
        flex: 1;
      }
      .remove {
        width: 45px;
        text-align: center;
      }
    }
    .body {
      z-index: 2;
      position: absolute;
      left: 0;
      top: 40px;
      bottom: 35px;
      right: 0;
    }
    .btns {
      line-height: 35px;
      .btn {
        padding: 0 10px 0 10px;
        display: inline-block;
      }
    }
  }
}
