@import "./../../style/base";
.main-login {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .bg {
    background-image: url("./images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    filter: blur(9px);
  }
  .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 55%;
    bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    .content {
      position: relative;
      color: $text-primary-color;
      .logo {
        width: 120px;
        height: 120px;
        background-image: url("./images/logo2.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 auto;
        border-radius: 50%;
        border: 5px solid $text-primary-color;
      }
      .desc {
        line-height: 40px;
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
      }
      .tip {
        line-height: 20px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .right {
    position: absolute;
    left: 55%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba($text-primary-color-rgb, 0.9);
    .box {
      margin: 300px 0 0 100px;
      width: 400px;
      .title {
        line-height: 80px;
        font-size: 25px;
      }
      .field {
        margin-bottom: 20px;
        .label {
          line-height: 30px;
        }
        .input {
          input {
            border: 1px solid $default-primary-color;
            height: 40px;
            padding: 0 10px 0 10px;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
            outline: none;
          }
        }
      }
      .btn {
        line-height: 45px;
        text-align: center;
        background: $dark-primary-color;
        color: $text-primary-color;
        border-radius: 5px;
      }
    }
  }
}
