@import "./../../../style/base";

.table-simple {
  display: grid;
  font-size: 12px;
  // background:$text-primary-color;
  .row {
    line-height: 30px;
    white-space: nowrap;
    border-bottom: 1px solid $light-primary-color;
    .cols {
      border-right: 1px solid $light-primary-color;
      padding: 0 10px 0 10px;
      display: inline-block;
      vertical-align: top;
      &.checkbox {
        text-align: center;
        font-size: 15px;
        padding: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
    // &:nth-child(even) {
    //   background: rgba($light-primary-color-rgb, 0.2);
    // }
    &:nth-child(odd) {
      background: $text-primary-color;
    }
    &.checked {
      background: rgba($light-primary-color-rgb, 0.5);
    }
  }
  .no-record {
    text-align: center;
    color: $divider-color;
    margin-top: 200px;
    .icon {
      font-size: 50px;
    }
    .desc {
      line-height: 40px;
    }
  }
}
