@import "./../../style/base";
.compose-curd {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .btns {
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0 10px 0 15px;
    .title {
      display: inline-block;
      vertical-align: top;
      padding: 0 10px 0 10px;
      font-size: 12px;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        background: $default-primary-color;
        border-radius: 50%;
        top: 18px;
        left: 0;
      }
      &:after {
        content: "";
        width: 0;
        display: block;
        border-right: 1px solid $light-primary-color;
        top: 14px;
        bottom: 14px;
        left: 100%;
        position: absolute;
      }
    }
    .btn {
      width: 35px;
      text-align: center;
      display: inline-block;
      vertical-align: top;
    }
  }
  .table {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 40px;
    overflow: hidden;
    z-index: 10;
    background: $text-primary-color;
    .left {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: all ease-in-out 0.3s;
      z-index: 5;
    }
    .right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 350px;
      padding: 10px;
      background: $text-primary-color;
      transition: all ease-in-out 0.3s;
      z-index: 4;
      opacity: 0;
    }
    .search {
      position: absolute;
      left: 0;
      top: 0;
      width: 300px;
      bottom: 40px;
      z-index: 5;
      background: $text-primary-color;
      box-shadow: 0 5px 15px $divider-color;
      transition: all ease-in-out 0.3s;
      transform: translateX(-400px);
      .head {
        line-height: 40px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        display: flex;
        z-index: 3;
        border-bottom: 1px solid $light-primary-color;
        .title {
          padding: 0 0 0 10px;
          flex: 1;
        }
        .close {
          width: 35px;
          text-align: center;
        }
      }
      .body {
        position: absolute;
        left: 0;
        top: 40px;
        right: 0;
        bottom: 35px;
        z-index: 1;
      }
      .foot {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        border-top: 1px solid $light-primary-color;
        z-index: 2;
        .btn {
          text-align: center;
          line-height: 35px;
        }
      }
      &.open {
        transform: translateX(0);
      }
    }
    &.open {
      .left {
        right: 350px;
        border-right: 1px solid $light-primary-color;
      }
      .right {
        opacity: 1;
      }
    }
  }
  .border-left {
    position: absolute;
    left: 10px;
    top: 50px;
    bottom: 20px;
    width: 20px;
    border-radius: 0 0 0 50%;
    box-shadow: 0 0 15px $divider-color;
    z-index: 1;
  }
  .border-right {
    position: absolute;
    right: 10px;
    top: 50px;
    bottom: 20px;
    width: 20px;
    border-radius: 0 0 50% 0;
    box-shadow: 0 0 15px $divider-color;
    z-index: 1;
  }
  .border-top {
    position: absolute;
    top: 40px;
    left: 13px;
    right: 13px;
    height: 20px;
    box-shadow: 0 0px 5px $divider-color;
    border-radius: 10%;
  }
  .border-bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 20px;
    box-shadow: 0 0px 15px $divider-color;
    border-radius: 50%;
  }
}
