@import "./../../style/base";
.modules-listable {
  font-size: 12px;
  .header {
    line-height: 40px;
    display: flex;
    border-bottom: 1px solid $default-primary-color;
    .data {
      flex: 1;
      .item {
        display: inline-block;
        vertical-align: top;
        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
  .body {
    .list {
      display: flex;
      line-height: 35px;
      .data {
        flex: 1;
        .items {
          .item {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:first-child {
              padding-left: 10px;
            }
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      .tools {
        .tool {
          display: inline-block;
          vertical-align: top;
          text-align: center;
        }
      }
      &:nth-child(even) {
        background: rgba($light-primary-color-rgb, 0.2);
      }
    }
  }
}
