<div class="{{ isclose?'pannel':'pannel open' }}">
    <div class="left">
        <div class="head">
            <div class="logo"></div>
        </div>
        <div class="body">
            <menu></menu>
        </div>
        <div class="foot">{{ app.copyright }}</div>
    </div>
    <div class="right">
        <div class="head">
            <div class="appbtn" onclick="{{ toggle() }}">
                <@icon class="icon" id="{{ icons.appIcon }}"/>
            </div>
            <div class="tools"></div>
        </div>
        <div class="body">
            <page></page>
        </div>
    </div>
</div>