<div class="con">
    {{list menu as item}}
    <div class="item">
        <div class="{{ item.active?'text active':'text' }}">
            <div class="name">{{ item.name }}</div>
        </div>
        {{if item.list&&item.list.length>0}}
        <div class="subs">
            {{list item.list as subitem}}
            <a href="{{ subitem.link }}" class="{{ subitem.active?'substext active':'substext' }}" onclick="{{ open(subitem as item) }}">
                {{if subitem.icon}}
                <div class="iconcon"><@icon id="{{ subitem.icon }}" class="icon"/></div>
                {{/if}}
                <div class="subname">{{ subitem.name }}</div>
            </a>
            {{/list}}
        </div>
        {{/if}}
    </div>
    {{/list}}
</div>