@import "./../../style/base";
.table {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid $light-primary-color;
  border-top: 1px solid $light-primary-color;
  border-right: 1px solid $light-primary-color;
  .content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .head {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      overflow: hidden;
      z-index: 2;
    }
    .body {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      z-index: 1;
    }
  }
  .checkbox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
  }
  .tools {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
    &.left {
      left: auto;
      right: 0;
      border-left: 0;
    }
  }
}
